#about:hover {
  color: rgb(140,0,0)!important;
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  font-size: 25px;
}

.Navbar#container {
  width: 100%!important;
  margin-right: 0px!important;
  margin-left: 0px!important;
  padding: 0px!important;
}

